html,body
{
    padding: 0px;
    margin: 0px;
}
.banner
{
    background-image: linear-gradient(rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.5)), url("https://cdn.pixabay.com/photo/2015/07/17/22/42/typing-849806_1280.jpg");
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

nav a
{
    text-decoration: none;
    margin-left: 80px;
    color: white;
    
}

.logo
{
    text-decoration: none;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

nav li
{
    display: inline;

    
}
nav
{
    padding-top: 20px;
}
button
{
    background-color: green;
    color: white;
    margin-left: 40px;
    border-radius: 20px;
    padding: 10px 23px 10px 23px;
    border: 1px solid rgb(35, 161, 77);
}
button:hover
{
    background-color: rgb(121, 231, 121);
}
.my-banner-content
{
    color: white;
    text-align: center;
    position: relative;
    top: 90px;
}

.my-banner-content h1
{
    font-size: 50px;
}

.my-banner-content p
{
    font-size: 35px;
}
.aboutus
{
    margin: 100px;
   
}
.aboutus h1
{
    font-size: 40px;
    font-weight: bold;
}
.aboutus li
{
    margin-top: 7px;
}
.aboutus-subdiv div
{
    display: inline-block;
    width: 500px;
}
.services
{
    margin: 80px;
    
    
}
.services h1
{
    font-size: 40px;
    font-weight: bold;
    
}
.services p
{
    margin-left: 30px;
}
.my-back-dg
{
    background-color: rgb(241, 244, 244);
    height: 40px;

}
.card
{
    height: 330px;
    width: 330px;
    background-color: aliceblue;
    border-radius: 20px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    padding: 30px;
    transition: transform 1s;
}
.card i
{
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 100%;
}
.card-prop
{
    text-align: center;
    position: relative;
    top: 80px;
}

.card:hover
{
    box-shadow: 0px 5px green;
    transform: translate(0px,-10px);
}
